<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>hexlet-3-project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Clean-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3" style="text-align: left;color: rgb(33, 37, 41);background: linear-gradient(#007484, #00b1a6);">
        <div class="container"><a href="/" class="navbar-brand d-flex align-items-center" href="#"><span style="height: 34px;">Анализатор страниц</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5" style="text-align: left;margin-top: -1px;">
                <ul class="navbar-nav" style="text-align: left;">
                    <li class="nav-item"><a href="/" class="nav-link active" href="#" style="text-align: left;position: sticky;display: block;">Главная</a></li>
                    <li class="nav-item" style="text-align: left;position: sticky;display: block;"><a href="/urls" class="nav-link" href="#" style="text-align: left;position: sticky;display: block;">Сайты</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {# alerts #}
    {% for elem in alerts.error %}
        <div class="alert alert-error" role="alert" ><span><strong>{{elem}}</strong></span></div>
    {% endfor %}    
    
    {% for elem in alerts.warning %}
        <div class="alert alert-warning" role="alert" ><span><strong>{{elem}}</strong></span></div>
    {% endfor %}

    {% for elem in alerts.success %}
        <div class="alert alert-success" role="alert" ><span><strong>{{elem}}</strong></span></div>
    {% endfor %}

    {% block content %}{% endblock %}
    
    <hr>
    <footer class="text-center d-xl-flex mx-auto py-4" style="max-width: 600px;">
        <div class="container">
            <div class="row d-xxl-flex justify-content-evenly justify-content-xxl-center">
                <div class="col">
                    <p class="text-muted my-2">Учебный проект №3</p>
                </div>
                <div class="col">
                    <ul class="list-inline my-2">
                        <li class="list-inline-item"></li>
                        <li class="list-inline-item"><a class="link-secondary" href="https://hexlet.io/pages/about">Hexlet</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>