{% extends "base_template.twig" %}

{% block content %}
<div class="card mx-auto my-4" style="box-shadow: 0px 0px 18px rgb(202,228,255); max-width: 800px;">
  <div class="card-body">
    <h1 class="display-3">Анализатор страниц</h1>
    <p class="lead">Бесплатно проверяйте сайты на SEO пригодность</p>

    <form class="row" action="/urls" method="post">
      <div class="col-8">
        <input
          type="text"
          name="url[name]"
          class="form-control form-control-lg {{ errors.urlName is defined ? 'is-invalid' }}"
          placeholder="https://www.example.com"
          value="{{ urlName|default('')|e }}"
        >
        {% if errors.urlName is defined %}
          <div class="invalid-feedback d-block">
            {{ errors.urlName[0] }}
          </div>
        {% endif %}
      </div>

      <div class="col-2">
        <input type="submit" class="btn btn-primary btn-lg ms-3 px-5 text-uppercase mx-3" value="Проверить">
      </div>
    </form>
  </div>
</div>

{% endblock %}
